<ul class="list-unstyled">
  {{#each content.data as |item|}}
    <li>
      {{#collapse-card isCollapsed=false
        title=item.title}}
        {{#if item.more.push}}
          {{#each item.more as |content|}}
            {{v-content content=content}}
          {{/each}}
        {{else}}
          {{item.more}}
        {{/if}}
      {{/collapse-card}}
    </li>
  {{/each}}
</ul>
