.collapse-card{
  .card-body{
    overflow: hidden;
  	max-height: 20em;
  	overflow: hidden;
  	transition: max-height 0.3s;
  }
}

.collapse-card.is-collapsed{
  .card-body {
    max-height: 0;
  }
}
