{{#var-section
  title="Experience"
  icon="briefcase fa-fw"}}
  {{#var-position
    title="Co-Founder and CTO"
    institution="ConnectCubed - Human Resource information storage and collection systems designed with analytics at its core"
    dates="2011-2015"
    location="New York City and Hong Kong"}}
    <br>
    <ul class="details list-unstyled">
      <li>
        {{#collapse-card isCollapsed=true
          title="Technical Leadership"}}
          <ul>
            <li>
              Lead the company through a major technical shift from {{#bs-label}}Rails{{/bs-label}} views with {{#bs-label}}YUI{{/bs-label}} to a {{#bs-label}}Rails API{{/bs-label}} with an {{#bs-label}}Ember.js{{/bs-label}} single page application
            </li>
            <li>
              Managed technical debt and minimized the impact of 3 major product pivots over the course of 4 years
            </li>
            <li>
              Put together and ran a small production team to develop various applications
            </li>
            <li>
              Instituted iterative development practices, weekly builds, with daily standup meetings
            </li>
            <li>
              Enforced pragmatic test driven development on both server and client
            </li>
          </ul>
        {{/collapse-card}}
      </li>
      <li>
        {{#collapse-card isCollapsed=true
          title="Product Design and Code"}}
          <p>
            Over the course of ConnectCubed's history, designed and developed numerous applications on both server and client side including:
          </p>
          <ul>
            <li>
              Human Resource Information System
            </li>
            <li>
              Applicant Tracking System
            </li>
            <li>
              Performance review design and delivery system
            </li>
            <li>
              Widget based custom reporting system for HR data with Boolean search operators for sub selecting people
            </li>
            <li>
              Web based psychometric assessment and custom survey application processing tens of thousands of candidates
            </li>
            <li>
              Applicant assessment application for Windows Phone
            </li>
            <li>
              Spatial aptitude game
            </li>
            <li>
              Finance Quiz game for IPhone
            </li>
            <li>
              Real Time Trading game designed to identify high potential
            </li>
            <li>
              Lead generation and auto follow up mailing system for sales
            </li>
          </ul>
          <div class="label-list">
            {{#bs-label}}Rails{{/bs-label}} {{#bs-label}}Ember.js{{/bs-label}} {{#bs-label}}Heroku{{/bs-label}} {{#bs-label}}Postgres{{/bs-label}} {{#bs-label}}Action Script 3{{/bs-label}} {{#bs-label}}C#{{/bs-label}}  {{#bs-label}}YUI{{/bs-label}} {{#bs-label}}IPhone{{/bs-label}} {{#bs-label}}Windows Phone{{/bs-label}}
          </div>
        {{/collapse-card}}
      </li>
      <li>
        {{#collapse-card isCollapsed=true
           title="Data Science"}}
          <ul>
            <li>
              Performed custom data analysis on the hiring process for various clients
            </li>
            <li>
              Developed people similarity graphs using bootstrapped cluster analysis
            </li>
            <li>
              Built experimental Topological Data Analysis implementation to try and create a better person similarity graph
            </li>
          </ul>
          <div class="label-list">
            {{#bs-label}}Python{{/bs-label}} {{#bs-label}}R{{/bs-label}} {{#bs-label}}Scipy{{/bs-label}} {{#bs-label}}Regression{{/bs-label}} {{#bs-label}}Cluster Analysis{{/bs-label}}
          </div>
        {{/collapse-card}}
      </li>
      <li>
        {{#collapse-card isCollapsed=true
          title="Sales"}}
          <ul>
            <li>
              Designed an analytics driven sales funnel and augmented it heavily with automation
            </li>
            <li>
              Worked extensively with sales messaging and language
            </li>
          </ul>
        {{/collapse-card}}
      </li>
    </ul>
  {{/var-position}}
  {{#var-position
    title="Coding, Project Management, Game Design"
    institution="HitPoint Studios - Independent game studio"
    dates="2009-2011"
    location="Massachusetts"}}
    <br>
    <ul class="details list-unstyled">
      <li>
        {{#collapse-card isCollapsed=true
          title="Design"}}
          <ul>
            <li>
              Designer on several original social games
            </li>
          </ul>
        {{/collapse-card}}
      </li>
      <li>
        {{#collapse-card isCollapsed=true
          title="Code"}}
          <ul>
            <li>
              Started as an intern to do facebook integration and became the lead server developer
            </li>
            <li>
              Created numerous casual, social, and ad game servers handling hundreds of thousands of users
            </li>
            <li>
              Worked as a user interface developer for a few social and Ad games
            </li>
            <li>
              Designed, built, and was in charge of in game analytics
            </li>
          </ul>
          <div class="label-list">
            {{#bs-label}}Action Script 3{{/bs-label}} {{#bs-label}}Flash{{/bs-label}} {{#bs-label}}Java{{/bs-label}} {{#bs-label}}C#{{/bs-label}} {{#bs-label}}SQL Server{{/bs-label}} {{#bs-label}}MySQL{{/bs-label}}
          </div>
        {{/collapse-card}}
      </li>
      <li>
        {{#collapse-card isCollapsed=true
          title="Project Management"}}
          <ul>
            <li>
              Was project manager for several independent social games overseeing a small team of programmers and artists
            </li>
          </ul>
        {{/collapse-card}}
      </li>
    </ul>
  {{/var-position}}
{{/var-section}}
{{#var-section
  title="Education"
  icon="book fa-fw"}}
  {{var-position
    title="B.A. in Chinese History, Economics, Art, and a touch of Computer Science"
    institution="Hampshire College - Tailor-made undergraduate program with qualitative assessment"
    dates="2004-2008"
    location="Massachusetts"}}
  {{var-position
    title="High School"
    institution="Chinese International School"
    dates="1997-2004"
    location="Hong Kong"}}
{{/var-section}}
